<header class="bg-blue-dark h-full flex items-center justify-end border-2 border-red-600 px-2 py-3 w-full">
  <div class="flex items-center gap-x-5">
    <div class="font-bold">
      <p class="text-dark-petrol-blue leading-3">
        <span>{{ objSessionStorage.username }}</span>
        <span> | </span>
        <span>Hola mundo</span>
      </p>
    </div>

    <div class="flex items-center">
      <span class="material-symbols-outlined block mx-auto">
        person
      </span>
    </div>
  </div>
</header>
