@use "./variable.scss" as variable;

/* **************************************
* variante - botones con color de fondo *
***************************************** */

/* *****************************
* variante - botones con borde *
******************************** */

.btn-outline-primary {
  background-color: transparent;
  border-color: $primary;
  color: $primary;

  @include hover-device {
    &:hover:not(:disabled) {
      background-color: $primary;
      border-color: $primary;
      color: white;
    }
  }

  @include touch-device {
    &:active:not(:disabled) {
      background-color: $primary;
      border-color: $primary;
      color: white;
    }
  }
}

.btn-outline-secondary {
  background-color: transparent;
  border-color: $secondary;
  color: $secondary;

  @include hover-device {
    &:hover:not(:disabled) {
      background-color: $secondary;
      border-color: $secondary;
      color: white;
    }
  }

  @include touch-device {
    &:active:not(:disabled) {
      background-color: $secondary;
      border-color: $secondary;
      color: white;
    }
  }
}

.btn-outline-success {
  background-color: transparent;
  border-color: $success;
  color: $success;

  @include hover-device {
    &:hover:not(:disabled) {
      background-color: $success;
      border-color: $success;
      color: white;
    }
  }

  @include touch-device {
    &:active:not(:disabled) {
      background-color: $success;
      border-color: $success;
      color: white;
    }
  }
}

.btn-outline-danger {
  background-color: transparent;
  border-color: $danger;
  color: $danger;

  @include hover-device {
    &:hover:not(:disabled) {
      background-color: $danger;
      border-color: $danger;
      color: white;
    }
  }

  @include touch-device {
    &:active:not(:disabled) {
      background-color: $danger;
      border-color: $danger;
      color: white;
    }
  }
}

.btn-outline-warning {
  background-color: transparent;
  border-color: $warning;
  color: $warning;

  @include hover-device {
    &:hover:not(:disabled) {
      background-color: $warning;
      border-color: $warning;
      color: white;
    }
  }

  @include touch-device {
    &:active:not(:disabled) {
      background-color: $warning;
      border-color: $warning;
      color: white;
    }
  }
}

.btn-outline-info {
  background-color: transparent;
  border-color: $info;
  color: $info;

  @include hover-device {
    &:hover:not(:disabled) {
      background-color: $info;
      border-color: $info;
      color: white;
    }
  }

  @include touch-device {
    &:active:not(:disabled) {
      background-color: $info;
      border-color: $info;
      color: white;
    }
  }
}

.btn-outline-light {
  background-color: transparent;
  border-color: $light;
  color: $light;

  @include hover-device {
    &:hover:not(:disabled) {
      background-color: $light-contrast;
      border-color: #c6c7c8;
      color: white;
    }
  }

  @include touch-device {
    &:active:not(:disabled) {
      background-color: $light-contrast;
      border-color: #c6c7c8;
      color: white;
    }
  }
}

.btn-outline-dark {
  background-color: transparent;
  border-color: $dark;
  color: $dark;

  @include hover-device {
    &:hover:not(:disabled) {
      background-color: $dark;
      border-color: $dark;
      color: white;
    }
  }

  @include touch-device {
    &:active:not(:disabled) {
      background-color: $dark;
      border-color: $dark;
      color: white;
    }
  }
}

/* **************************************
* variante - botones sin fondo ni borde *
***************************************** */

.btn-ghost {
  background-color: transparent;
  border-color: transparent;
}

.btn-primary.btn-ghost {
  color: $primary;

  @include hover-device {
    &:hover:not(:disabled) {
      background-color: $primary-emphasis;
    }
  }

  @include touch-device {
    &:active:not(:disabled) {
      background-color: $primary-emphasis;
    }
  }
}

.btn-secondary.btn-ghost {
  color: $secondary;

  @include hover-device {
    &:hover:not(:disabled) {
      background-color: $secondary-emphasis;
    }
  }

  @include touch-device {
    &:active:not(:disabled) {
      background-color: $secondary-emphasis;
    }
  }
}

.btn-success.btn-ghost {
  color: $success;

  @include hover-device {
    &:hover:not(:disabled) {
      background-color: $success-emphasis;
    }
  }

  @include touch-device {
    &:active:not(:disabled) {
      background-color: $success-emphasis;
    }
  }
}

.btn-danger.btn-ghost {
  color: $danger;

  @include hover-device {
    &:hover:not(:disabled) {
      background-color: $danger-emphasis;
    }
  }

  @include touch-device {
    &:active:not(:disabled) {
      background-color: $danger-emphasis;
    }
  }
}

.btn-warning.btn-ghost {
  color: $warning;

  @include hover-device {
    &:hover:not(:disabled) {
      background-color: $warning-emphasis;
    }
  }

  @include touch-device {
    &:active:not(:disabled) {
      background-color: $warning-emphasis;
    }
  }
}

.btn-info.btn-ghost {
  color: $info;

  @include hover-device {
    &:hover:not(:disabled) {
      background-color: $info-emphasis;
    }
  }

  @include touch-device {
    &:active:not(:disabled) {
      background-color: $info-emphasis;
    }
  }
}

.btn-light.btn-ghost {
  color: $light;

  @include hover-device {
    &:hover:not(:disabled) {
      background-color: $light-emphasis;
    }
  }

  @include touch-device {
    &:active:not(:disabled) {
      background-color: $light-emphasis;
    }
  }
}

.btn-dark.btn-ghost {
  color: $dark;

  @include hover-device {
    &:hover:not(:disabled) {
      background-color: $dark-emphasis;
    }
  }

  @include touch-device {
    &:active:not(:disabled) {
      background-color: $dark-emphasis;
    }
  }
}
