<section class="mx-auto max-w-[364px] sm:max-w-sm px-8 sm:p-0 min-h-dvh flex items-center justify-center">
  <div class="w-full">
    <div class="mx-auto max-w-39 sm:max-w-50 mb-6 md:mb-4">
      <img src="/assets/img/logo/full-logo-medellin-city-hall.png" alt="Alcaldia de Medellin">
    </div>

    <h1 class="text-center text-blue-lightning font-medium text-2 sm:text-xl mb-6 md:mb-4 leading-6">
      Medellín te escucha
    </h1>

    <form [formGroup]="formRecoverPassword" (ngSubmit)="onSubmitRecoverPassword()" autocomplete="off">
      <div class="mb-3">
        <label for="email">Correo</label>
        <input id="email" type="text" pInputText formControlName="email" class="block w-full"
          placeholder="nombre@correo.gov.co" />
        @if (formRecoverPassword.get('email')?.touched) {
        @if (formRecoverPassword.get('email')?.hasError("required")) {
        <p-message severity="error" text="Correo es obligatorio"></p-message>
          } @else if (formRecoverPassword.get('email')?.hasError('minlength')) {
             <p-message severity="error" text="Correo es de mínimo 3 caracteres"></p-message>
          } @else if (formRecoverPassword.get('email')?.hasError('email')) {
             <p-message severity="error" text="Correo invalido"></p-message>
          }
        }
      </div>

      <div class="flex justify-center mb-5">
        <button type="submit"
          class="btn-primary">
          Recuperar Contraseña
        </button>
      </div>

      <a [routerLink]="['/', path().auth.login]" class="text-[12px] xsm:text-sm text-right text-blue-lightning">
        Volver a inicio de sesión
      </a>
    </form>
  </div>
</section>
