@use "./variable.scss" as variable;

/*
*******************
* Barra de scroll *
******************* */

*::-webkit-scrollbar {
  display: block;
  height: 5px;
  width: 5px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}


*::-webkit-scrollbar-thumb {
  background-color: variable.$gray-dark !important;
  border-radius: 10px;
  border-right: none;
  border-left: none;
}

*::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 1.25rem;
}

*::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 1.25rem;
}

// ocultar barra de scroll, pero hacer q siga funcionando la barra de scroll
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}
.hidden-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
